body {
	background-color: lightblue;
}

h1 {
	background-image: url("Background.jpg");
	padding-top: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
	padding-left: 0px;
	text-align: center;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}